* {
  font-family: "Roboto Flex", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
body header .targe {
  background-color: #034059;
}
body header .targe .targe-icons {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
body header .targe .targe-icons a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
}
body header .targe .targe-icons img {
  width: 14px;
}
body header .brand {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #aaa;
}
body header .brand img {
  width: 130px;
}
body header nav {
  height: 55px;
  background-color: #fff;
}
body header nav ul {
  list-style: none;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav ul li {
  padding: 30px;
}
body header nav ul li a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 55px;
  border-bottom: 3px solid #fff;
}
body header nav a:hover {
  color: #034059;
  border-bottom: 3px solid #034059;
}
body section .section-name {
  font-size: 1.1rem;
  color: #F08702;
  font-weight: 300;
}
body section .blue-title {
  font-size: 3rem;
  color: #034059;
  line-height: 50px;
  padding: 20px 0;
}
body section .blue-text {
  color: #034059;
  line-height: 20px;
}
body section .white-title {
  font-size: 3rem;
  color: #FFFFFF;
  line-height: 50px;
  color: #fff;
  padding: 20px 0;
}
body section .white-text {
  color: #034059;
  line-height: 20px;
  color: #fff;
}
body section .button {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 425px;
  height: 45px;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 50px;
}
body section .but-white {
  border: 2px solid #FFF;
}
body section .but-blue {
  background-color: #034059;
}

.home {
  width: 100vw;
  height: calc(100vh - 160px);
}
.home .top-image {
  background-image: url("/assets/images/aerea_fabri.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 50%;
}
.home .home-content {
  display: flex;
  align-items: center;
  padding: 0;
  width: 100vw;
  height: 50%;
}
.home .home-content .home-content_text {
  max-width: 50%;
  padding-right: 100px;
}
.home .home-content .home-content_but {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  width: 50%;
}

.aboutUs {
  background-color: #034059;
}
.aboutUs .aboutUs-content {
  padding: 0px;
  height: 100vh;
  display: flex;
  align-items: center;
}
.aboutUs .aboutUs-content-text {
  width: 40%;
  padding: 80px 70px 80px 0;
}
.aboutUs .home-content_but {
  padding-top: 25px;
}
.aboutUs .aboutUs-content-video {
  width: 55%;
  height: 100vh;
  position: absolute;
  right: 0;
}
.aboutUs .aboutUs-content-video video {
  height: 100vh;
}

.product-content {
  height: 600px;
  background-color: #034059;
}
.product-content .product-content-text {
  width: 60%;
  height: 250px;
  padding: 0 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
