.factory {


    .factory-content {
        height: 100vh;
        display: flex;

        .factory-content-images {
            width: 60%;
            height: 100%;
        }

        .factory-content-text {
            width: 45%;
            height: 100vh;
            position: absolute;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0px 250px 0px 100px;
            background-color: $dark_blue;


            p {
                padding-right:30px;
                line-height: 24px;
            }

        }

    }




}